<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qiyun.mapper2.Ticket2Mapper">
    <resultMap id="BaseResultMap" type="com.qiyun.model2.Ticket2">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="PLAN_NO" property="planNo" jdbcType="INTEGER"/>
        <result column="TERM" property="term" jdbcType="VARCHAR"/>
        <result column="LOTTERY_TYPE" property="lotteryType" jdbcType="INTEGER"/>
        <result column="AMOUNT" property="amount" jdbcType="INTEGER"/>
        <result column="CREATE_DATE_TIME" property="createDateTime" jdbcType="TIMESTAMP"/>
        <result column="SEND_DATE_TIME" property="sendDateTime" jdbcType="TIMESTAMP"/>
        <result column="PRINT_DATE_TIME" property="printDateTime" jdbcType="TIMESTAMP"/>
        <result column="DEAL_DATE_TIME" property="dealDateTime" jdbcType="TIMESTAMP"/>
        <result column="MULTIPLE" property="multiple" jdbcType="INTEGER"/>
        <result column="PLAY_TYPE" property="playType" jdbcType="INTEGER"/>
        <result column="IS_BINGO" property="isBingo" jdbcType="INTEGER"/>
        <result column="BINGO_AMOUNT" property="bingoAmount" jdbcType="DOUBLE"/>
        <result column="STATUS" property="status" jdbcType="INTEGER"/>
        <result column="ADD_ATTRIBUTE" property="addAttribute" jdbcType="VARCHAR"/>
        <result column="ACCOUNT" property="account" jdbcType="VARCHAR"/>
        <result column="OUT_ID" property="outId" jdbcType="VARCHAR"/>
        <result column="NO_IN_BATCH" property="noInBatch" jdbcType="INTEGER"/>
        <result column="BATCH_NO" property="batchNo" jdbcType="VARCHAR"/>
        <result column="IS_CONVERT" property="isConvert" jdbcType="INTEGER"/>
        <result column="CONVERT_DATE_TIME" property="convertDateTime" jdbcType="TIMESTAMP"/>
        <result column="SERIAL_NO" property="serialNo" jdbcType="VARCHAR"/>
        <result column="PROVIDER" property="provider" jdbcType="INTEGER"/>
        <result column="ERROR_CODE" property="errorCode" jdbcType="INTEGER"/>
        <result column="WIN_STATUS" property="winStatus" jdbcType="INTEGER"/>
        <result column="open_result_time" property="openResultTime" jdbcType="TIMESTAMP"/>
        <result column="return_prize_time" property="returnPrizeTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.qiyun.model2.Ticket2WithBLOBs" extends="BaseResultMap">
        <result column="CONTENT" property="content" jdbcType="LONGVARCHAR"/>
        <result column="BINGO_CONTENT" property="bingoContent" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, PLAN_NO, TERM, LOTTERY_TYPE, AMOUNT, CREATE_DATE_TIME, SEND_DATE_TIME, PRINT_DATE_TIME, 
    DEAL_DATE_TIME, MULTIPLE, PLAY_TYPE, IS_BINGO, BINGO_AMOUNT, STATUS, ADD_ATTRIBUTE, 
    ACCOUNT, OUT_ID, NO_IN_BATCH, BATCH_NO, IS_CONVERT, CONVERT_DATE_TIME, SERIAL_NO, 
    PROVIDER, ERROR_CODE, WIN_STATUS, open_result_time, return_prize_time
  </sql>
    <sql id="Blob_Column_List">
    CONTENT, BINGO_CONTENT
  </sql>
    <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs"
            parameterType="com.qiyun.model2.Ticket2Example">
        select
        <if test="distinct">
            distinct
        </if>
        'false' as QUERYID,
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from ticket
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qiyun.model2.Ticket2Example">
        select
        <if test="distinct">
            distinct
        </if>
        'false' as QUERYID,
        <include refid="Base_Column_List"/>
        from ticket
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from ticket
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ticket
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.qiyun.model2.Ticket2WithBLOBs">
    insert into ticket (id, PLAN_NO, TERM, 
      LOTTERY_TYPE, AMOUNT, CREATE_DATE_TIME, 
      SEND_DATE_TIME, PRINT_DATE_TIME, DEAL_DATE_TIME, 
      MULTIPLE, PLAY_TYPE, IS_BINGO, 
      BINGO_AMOUNT, STATUS, ADD_ATTRIBUTE, 
      ACCOUNT, OUT_ID, NO_IN_BATCH, 
      BATCH_NO, IS_CONVERT, CONVERT_DATE_TIME, 
      SERIAL_NO, PROVIDER, ERROR_CODE, 
      WIN_STATUS, open_result_time, return_prize_time, 
      CONTENT, BINGO_CONTENT)
    values (#{id,jdbcType=INTEGER}, #{planNo,jdbcType=INTEGER}, #{term,jdbcType=VARCHAR}, 
      #{lotteryType,jdbcType=INTEGER}, #{amount,jdbcType=INTEGER}, #{createDateTime,jdbcType=TIMESTAMP}, 
      #{sendDateTime,jdbcType=TIMESTAMP}, #{printDateTime,jdbcType=TIMESTAMP}, #{dealDateTime,jdbcType=TIMESTAMP}, 
      #{multiple,jdbcType=INTEGER}, #{playType,jdbcType=INTEGER}, #{isBingo,jdbcType=INTEGER}, 
      #{bingoAmount,jdbcType=DOUBLE}, #{status,jdbcType=INTEGER}, #{addAttribute,jdbcType=VARCHAR}, 
      #{account,jdbcType=VARCHAR}, #{outId,jdbcType=VARCHAR}, #{noInBatch,jdbcType=INTEGER}, 
      #{batchNo,jdbcType=VARCHAR}, #{isConvert,jdbcType=INTEGER}, #{convertDateTime,jdbcType=TIMESTAMP}, 
      #{serialNo,jdbcType=VARCHAR}, #{provider,jdbcType=INTEGER}, #{errorCode,jdbcType=INTEGER}, 
      #{winStatus,jdbcType=INTEGER}, #{openResultTime,jdbcType=TIMESTAMP}, #{returnPrizeTime,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=LONGVARCHAR}, #{bingoContent,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.qiyun.model2.Ticket2WithBLOBs">
        insert into ticket
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="planNo != null">
                PLAN_NO,
            </if>
            <if test="term != null">
                TERM,
            </if>
            <if test="lotteryType != null">
                LOTTERY_TYPE,
            </if>
            <if test="amount != null">
                AMOUNT,
            </if>
            <if test="createDateTime != null">
                CREATE_DATE_TIME,
            </if>
            <if test="sendDateTime != null">
                SEND_DATE_TIME,
            </if>
            <if test="printDateTime != null">
                PRINT_DATE_TIME,
            </if>
            <if test="dealDateTime != null">
                DEAL_DATE_TIME,
            </if>
            <if test="multiple != null">
                MULTIPLE,
            </if>
            <if test="playType != null">
                PLAY_TYPE,
            </if>
            <if test="isBingo != null">
                IS_BINGO,
            </if>
            <if test="bingoAmount != null">
                BINGO_AMOUNT,
            </if>
            <if test="status != null">
                STATUS,
            </if>
            <if test="addAttribute != null">
                ADD_ATTRIBUTE,
            </if>
            <if test="account != null">
                ACCOUNT,
            </if>
            <if test="outId != null">
                OUT_ID,
            </if>
            <if test="noInBatch != null">
                NO_IN_BATCH,
            </if>
            <if test="batchNo != null">
                BATCH_NO,
            </if>
            <if test="isConvert != null">
                IS_CONVERT,
            </if>
            <if test="convertDateTime != null">
                CONVERT_DATE_TIME,
            </if>
            <if test="serialNo != null">
                SERIAL_NO,
            </if>
            <if test="provider != null">
                PROVIDER,
            </if>
            <if test="errorCode != null">
                ERROR_CODE,
            </if>
            <if test="winStatus != null">
                WIN_STATUS,
            </if>
            <if test="openResultTime != null">
                open_result_time,
            </if>
            <if test="returnPrizeTime != null">
                return_prize_time,
            </if>
            <if test="content != null">
                CONTENT,
            </if>
            <if test="bingoContent != null">
                BINGO_CONTENT,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="planNo != null">
                #{planNo,jdbcType=INTEGER},
            </if>
            <if test="term != null">
                #{term,jdbcType=VARCHAR},
            </if>
            <if test="lotteryType != null">
                #{lotteryType,jdbcType=INTEGER},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=INTEGER},
            </if>
            <if test="createDateTime != null">
                #{createDateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sendDateTime != null">
                #{sendDateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="printDateTime != null">
                #{printDateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="dealDateTime != null">
                #{dealDateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="multiple != null">
                #{multiple,jdbcType=INTEGER},
            </if>
            <if test="playType != null">
                #{playType,jdbcType=INTEGER},
            </if>
            <if test="isBingo != null">
                #{isBingo,jdbcType=INTEGER},
            </if>
            <if test="bingoAmount != null">
                #{bingoAmount,jdbcType=DOUBLE},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="addAttribute != null">
                #{addAttribute,jdbcType=VARCHAR},
            </if>
            <if test="account != null">
                #{account,jdbcType=VARCHAR},
            </if>
            <if test="outId != null">
                #{outId,jdbcType=VARCHAR},
            </if>
            <if test="noInBatch != null">
                #{noInBatch,jdbcType=INTEGER},
            </if>
            <if test="batchNo != null">
                #{batchNo,jdbcType=VARCHAR},
            </if>
            <if test="isConvert != null">
                #{isConvert,jdbcType=INTEGER},
            </if>
            <if test="convertDateTime != null">
                #{convertDateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="serialNo != null">
                #{serialNo,jdbcType=VARCHAR},
            </if>
            <if test="provider != null">
                #{provider,jdbcType=INTEGER},
            </if>
            <if test="errorCode != null">
                #{errorCode,jdbcType=INTEGER},
            </if>
            <if test="winStatus != null">
                #{winStatus,jdbcType=INTEGER},
            </if>
            <if test="openResultTime != null">
                #{openResultTime,jdbcType=TIMESTAMP},
            </if>
            <if test="returnPrizeTime != null">
                #{returnPrizeTime,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="bingoContent != null">
                #{bingoContent,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.qiyun.model2.Ticket2WithBLOBs">
        update ticket
        <set>
            <if test="planNo != null">
                PLAN_NO = #{planNo,jdbcType=INTEGER},
            </if>
            <if test="term != null">
                TERM = #{term,jdbcType=VARCHAR},
            </if>
            <if test="lotteryType != null">
                LOTTERY_TYPE = #{lotteryType,jdbcType=INTEGER},
            </if>
            <if test="amount != null">
                AMOUNT = #{amount,jdbcType=INTEGER},
            </if>
            <if test="createDateTime != null">
                CREATE_DATE_TIME = #{createDateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sendDateTime != null">
                SEND_DATE_TIME = #{sendDateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="printDateTime != null">
                PRINT_DATE_TIME = #{printDateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="dealDateTime != null">
                DEAL_DATE_TIME = #{dealDateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="multiple != null">
                MULTIPLE = #{multiple,jdbcType=INTEGER},
            </if>
            <if test="playType != null">
                PLAY_TYPE = #{playType,jdbcType=INTEGER},
            </if>
            <if test="isBingo != null">
                IS_BINGO = #{isBingo,jdbcType=INTEGER},
            </if>
            <if test="bingoAmount != null">
                BINGO_AMOUNT = #{bingoAmount,jdbcType=DOUBLE},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=INTEGER},
            </if>
            <if test="addAttribute != null">
                ADD_ATTRIBUTE = #{addAttribute,jdbcType=VARCHAR},
            </if>
            <if test="account != null">
                ACCOUNT = #{account,jdbcType=VARCHAR},
            </if>
            <if test="outId != null">
                OUT_ID = #{outId,jdbcType=VARCHAR},
            </if>
            <if test="noInBatch != null">
                NO_IN_BATCH = #{noInBatch,jdbcType=INTEGER},
            </if>
            <if test="batchNo != null">
                BATCH_NO = #{batchNo,jdbcType=VARCHAR},
            </if>
            <if test="isConvert != null">
                IS_CONVERT = #{isConvert,jdbcType=INTEGER},
            </if>
            <if test="convertDateTime != null">
                CONVERT_DATE_TIME = #{convertDateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="serialNo != null">
                SERIAL_NO = #{serialNo,jdbcType=VARCHAR},
            </if>
            <if test="provider != null">
                PROVIDER = #{provider,jdbcType=INTEGER},
            </if>
            <if test="errorCode != null">
                ERROR_CODE = #{errorCode,jdbcType=INTEGER},
            </if>
            <if test="winStatus != null">
                WIN_STATUS = #{winStatus,jdbcType=INTEGER},
            </if>
            <if test="openResultTime != null">
                open_result_time = #{openResultTime,jdbcType=TIMESTAMP},
            </if>
            <if test="returnPrizeTime != null">
                return_prize_time = #{returnPrizeTime,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null">
                CONTENT = #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="bingoContent != null">
                BINGO_CONTENT = #{bingoContent,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.qiyun.model2.Ticket2WithBLOBs">
    update ticket
    set PLAN_NO = #{planNo,jdbcType=INTEGER},
      TERM = #{term,jdbcType=VARCHAR},
      LOTTERY_TYPE = #{lotteryType,jdbcType=INTEGER},
      AMOUNT = #{amount,jdbcType=INTEGER},
      CREATE_DATE_TIME = #{createDateTime,jdbcType=TIMESTAMP},
      SEND_DATE_TIME = #{sendDateTime,jdbcType=TIMESTAMP},
      PRINT_DATE_TIME = #{printDateTime,jdbcType=TIMESTAMP},
      DEAL_DATE_TIME = #{dealDateTime,jdbcType=TIMESTAMP},
      MULTIPLE = #{multiple,jdbcType=INTEGER},
      PLAY_TYPE = #{playType,jdbcType=INTEGER},
      IS_BINGO = #{isBingo,jdbcType=INTEGER},
      BINGO_AMOUNT = #{bingoAmount,jdbcType=DOUBLE},
      STATUS = #{status,jdbcType=INTEGER},
      ADD_ATTRIBUTE = #{addAttribute,jdbcType=VARCHAR},
      ACCOUNT = #{account,jdbcType=VARCHAR},
      OUT_ID = #{outId,jdbcType=VARCHAR},
      NO_IN_BATCH = #{noInBatch,jdbcType=INTEGER},
      BATCH_NO = #{batchNo,jdbcType=VARCHAR},
      IS_CONVERT = #{isConvert,jdbcType=INTEGER},
      CONVERT_DATE_TIME = #{convertDateTime,jdbcType=TIMESTAMP},
      SERIAL_NO = #{serialNo,jdbcType=VARCHAR},
      PROVIDER = #{provider,jdbcType=INTEGER},
      ERROR_CODE = #{errorCode,jdbcType=INTEGER},
      WIN_STATUS = #{winStatus,jdbcType=INTEGER},
      open_result_time = #{openResultTime,jdbcType=TIMESTAMP},
      return_prize_time = #{returnPrizeTime,jdbcType=TIMESTAMP},
      CONTENT = #{content,jdbcType=LONGVARCHAR},
      BINGO_CONTENT = #{bingoContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.qiyun.model2.Ticket2">
    update ticket
    set PLAN_NO = #{planNo,jdbcType=INTEGER},
      TERM = #{term,jdbcType=VARCHAR},
      LOTTERY_TYPE = #{lotteryType,jdbcType=INTEGER},
      AMOUNT = #{amount,jdbcType=INTEGER},
      CREATE_DATE_TIME = #{createDateTime,jdbcType=TIMESTAMP},
      SEND_DATE_TIME = #{sendDateTime,jdbcType=TIMESTAMP},
      PRINT_DATE_TIME = #{printDateTime,jdbcType=TIMESTAMP},
      DEAL_DATE_TIME = #{dealDateTime,jdbcType=TIMESTAMP},
      MULTIPLE = #{multiple,jdbcType=INTEGER},
      PLAY_TYPE = #{playType,jdbcType=INTEGER},
      IS_BINGO = #{isBingo,jdbcType=INTEGER},
      BINGO_AMOUNT = #{bingoAmount,jdbcType=DOUBLE},
      STATUS = #{status,jdbcType=INTEGER},
      ADD_ATTRIBUTE = #{addAttribute,jdbcType=VARCHAR},
      ACCOUNT = #{account,jdbcType=VARCHAR},
      OUT_ID = #{outId,jdbcType=VARCHAR},
      NO_IN_BATCH = #{noInBatch,jdbcType=INTEGER},
      BATCH_NO = #{batchNo,jdbcType=VARCHAR},
      IS_CONVERT = #{isConvert,jdbcType=INTEGER},
      CONVERT_DATE_TIME = #{convertDateTime,jdbcType=TIMESTAMP},
      SERIAL_NO = #{serialNo,jdbcType=VARCHAR},
      PROVIDER = #{provider,jdbcType=INTEGER},
      ERROR_CODE = #{errorCode,jdbcType=INTEGER},
      WIN_STATUS = #{winStatus,jdbcType=INTEGER},
      open_result_time = #{openResultTime,jdbcType=TIMESTAMP},
      return_prize_time = #{returnPrizeTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByPlanNo" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from ticket
        where PLAN_NO = #{planNo,jdbcType=INTEGER}
    </select>
    <resultMap id="LotteryTermMap" type="com.qiyun.commonModel.LotteryTerm">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="term" property="term" jdbcType="VARCHAR"/>
        <result column="LOTTERY_TYPE" property="lotteryType" jdbcType="INTEGER"/>
        <result column="out_term" property="outTerm" jdbcType="VARCHAR"/>
        <result column="open_date_time" property="openDateTime" jdbcType="TIMESTAMP"/>
        <result column="start_date_time" property="startDateTime" jdbcType="TIMESTAMP"/>
        <result column="end_date_time" property="endDateTime" jdbcType="TIMESTAMP"/>
        <result column="terminal_end_date_time" property="terminalEndDateTime" jdbcType="TIMESTAMP"/>
        <result column="is_able" property="isAble" jdbcType="INTEGER"/>
        <result column="lot_mgr_is_able" property="lotMgrIsAble" jdbcType="INTEGER"/>
        <result column="is_current_term" property="isCurrentTerm" jdbcType="INTEGER"/>
        <result column="is_booking" property="isBooking" jdbcType="INTEGER"/>
        <result column="STATUS" property="status" jdbcType="INTEGER"/>
        <result column="result" property="result" jdbcType="VARCHAR"/>
        <result column="total_amount" property="totalAmount" jdbcType="VARCHAR"/>
        <result column="result_detail" property="resultDetail" jdbcType="VARCHAR"/>
        <result column="award_pool" property="awardPool" jdbcType="INTEGER"/>
        <result column="test_machine_code" property="testMachineCode" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="findPrintingTermByLotteryType" resultMap="LotteryTermMap">

    select * from lottery_term where LOTTERY_TYPE =#{0} and terminal_end_date_time >#{1} order by term asc

  </select>
  <select id="searchTicket" resultMap="ResultMapWithBLOBs" parameterType="map">
    SELECT
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ticket
    WHERE 1=1
      <if test="type != null" >
          AND LOTTERY_TYPE = #{type,jdbcType=INTEGER}
      </if>
    <if test="provider != null" >
      AND PROVIDER = #{provider,jdbcType=INTEGER}
    </if>
    <if test="term != null" >
      AND TERM = #{term,jdbcType=VARCHAR}
    </if>
    <if test="id != null" >
      AND id = #{id,jdbcType=INTEGER}
    </if>
    <if test="planNo != null" >
      AND PLAN_NO = #{planNo,jdbcType=INTEGER}
    </if>
    <if test="playType != null" >
      AND PLAY_TYPE = #{playType,jdbcType=INTEGER}
    </if>
    <if test="isBingo != null" >
      AND IS_BINGO = #{isBingo,jdbcType=INTEGER}
    </if>
    <if test="status != null" >
      AND `status` = #{status,jdbcType=INTEGER}
    </if>
    <if test="startTerm!=null and endTerm !=null">
      AND TERM BETWEEN #{startTerm,jdbcType=VARCHAR} and #{endTerm,jdbcType=VARCHAR}
    </if>
    <if test="startTerm!=null and endTerm ==null">
      AND TERM <![CDATA[>=]]>#{startTerm,jdbcType=VARCHAR}
    </if>
    <if test="startTerm==null and endTerm !=null">
      AND TERM <![CDATA[<=]]>#{endTerm,jdbcType=VARCHAR}
    </if>
    <if test="createDateTimeStart!=null and createDateTimeEnd !=null">
      AND CREATE_DATE_TIME BETWEEN #{createDateTimeStart,jdbcType=VARCHAR} and #{createDateTimeEnd,jdbcType=VARCHAR}
    </if>
    <if test="createDateTimeStart!=null and createDateTimeEnd ==null">
      AND CREATE_DATE_TIME <![CDATA[>=]]>#{createDateTimeStart,jdbcType=VARCHAR}
    </if>
    <if test="createDateTimeStart==null and createDateTimeEnd !=null">
      AND CREATE_DATE_TIME <![CDATA[<=]]>#{createDateTimeEnd,jdbcType=VARCHAR}
    </if>
    <if test="printDateTimeStart!=null and printDateTimeEnd !=null">
      AND PRINT_DATE_TIME BETWEEN #{printDateTimeStart,jdbcType=VARCHAR} and #{printDateTimeEnd,jdbcType=VARCHAR}
    </if>
    <if test="printDateTimeStart!=null and printDateTimeEnd ==null">
      AND PRINT_DATE_TIME <![CDATA[>=]]>#{printDateTimeStart,jdbcType=VARCHAR}
    </if>
    <if test="printDateTimeStart==null and printDateTimeEnd !=null">
      AND PRINT_DATE_TIME <![CDATA[<=]]>#{printDateTimeEnd,jdbcType=VARCHAR}
    </if>
    <if test="sendTicketDateTimeStart!=null and sendTicketDateTimeEnd !=null">
      AND SEND_DATE_TIME BETWEEN #{sendTicketDateTimeStart,jdbcType=VARCHAR} and #{sendTicketDateTimeEnd,jdbcType=VARCHAR}
    </if>
    <if test="sendTicketDateTimeStart!=null and sendTicketDateTimeEnd ==null">
      AND SEND_DATE_TIME <![CDATA[>=]]>#{sendTicketDateTimeStart,jdbcType=VARCHAR}
    </if>
    <if test="sendTicketDateTimeStart==null and sendTicketDateTimeEnd !=null">
      AND SEND_DATE_TIME <![CDATA[<=]]>#{sendTicketDateTimeEnd,jdbcType=VARCHAR}
    </if>
    ORDER BY CREATE_DATE_TIME  DESC,id DESC
    LIMIT #{offset,jdbcType=INTEGER},#{pagesize,jdbcType=INTEGER}
  </select>
  <select id="searchAmount" resultType="java.lang.Integer" parameterType="map">
    SELECT
    sum(AMOUNT)
    from ticket
    WHERE 1=1
    <if test="type != null" >
      AND LOTTERY_TYPE = #{type,jdbcType=INTEGER},
    </if>
    <if test="provider != null" >
      AND PROVIDER = #{provider,jdbcType=INTEGER}
    </if>
    <if test="term != null" >
      AND term = #{term,jdbcType=VARCHAR}
    </if>
    <if test="id != null" >
      AND id = #{id,jdbcType=INTEGER}
    </if>
    <if test="planNo != null" >
      AND PLAN_NO = #{planNo,jdbcType=INTEGER}
    </if>
    <if test="playType != null" >
      AND PLAY_TYPE = #{playType,jdbcType=INTEGER}
    </if>
    <if test="isBingo != null" >
      AND IS_BINGO = #{isBingo,jdbcType=INTEGER}
    </if>
    <if test="status != null" >
      AND `STATUS` = #{status,jdbcType=INTEGER}
    </if>
    <if test="startTerm!=null and endTerm !=null">
      AND TERM BETWEEN #{startTerm} and #{endTerm}
    </if>
    <if test="startTerm!=null and endTerm ==null">
      AND TERM <![CDATA[>=]]>#{startTerm}
    </if>
    <if test="startTerm==null and endTerm !=null">
      AND TERM <![CDATA[<=]]>#{endTerm}
    </if>
    <if test="createDateTimeStart!=null and createDateTimeEnd !=null">
      AND CREATE_DATE_TIME BETWEEN #{createDateTimeStart} and #{createDateTimeEnd}
    </if>
    <if test="createDateTimeStart!=null and createDateTimeEnd ==null">
      AND CREATE_DATE_TIME <![CDATA[>=]]>#{createDateTimeStart}
    </if>
    <if test="createDateTimeStart==null and createDateTimeEnd !=null">
      AND CREATE_DATE_TIME <![CDATA[<=]]>#{createDateTimeEnd}
    </if>
    <if test="printDateTimeStart!=null and printDateTimeEnd !=null">
      AND PRINT_DATE_TIME BETWEEN #{printDateTimeStart} and #{printDateTimeEnd}
    </if>
    <if test="printDateTimeStart!=null and printDateTimeEnd ==null">
      AND PRINT_DATE_TIME <![CDATA[>=]]>#{printDateTimeStart}
    </if>
    <if test="printDateTimeStart==null and printDateTimeEnd !=null">
      AND PRINT_DATE_TIME <![CDATA[<=]]>#{printDateTimeEnd}
    </if>
    <if test="sendTicketDateTimeStart!=null and sendTicketDateTimeEnd !=null">
      AND SEND_DATE_TIME BETWEEN #{sendTicketDateTimeStart} and #{sendTicketDateTimeEnd}
    </if>
    <if test="sendTicketDateTimeStart!=null and sendTicketDateTimeEnd ==null">
      AND SEND_DATE_TIME <![CDATA[>=]]>#{sendTicketDateTimeStart}
    </if>
    <if test="sendTicketDateTimeStart==null and sendTicketDateTimeEnd !=null">
      AND SEND_DATE_TIME <![CDATA[<=]]>#{sendTicketDateTimeEnd}
    </if>
  </select>
  <select id="searchBingoAmount" resultType="java.lang.Integer" parameterType="map">
    SELECT
    sum(BINGO_AMOUNT)
    from ticket
    WHERE 1=1
    <if test="type != null" >
      AND LOTTERY_TYPE = #{type,jdbcType=INTEGER}
    </if>
    <if test="provider != null" >
      AND PROVIDER = #{provider,jdbcType=INTEGER}
    </if>
    <if test="term != null" >
      AND term = #{term,jdbcType=VARCHAR}
    </if>
    <if test="id != null" >
      AND id = #{id,jdbcType=INTEGER}
    </if>
    <if test="planNo != null" >
      AND PLAN_NO = #{planNo,jdbcType=INTEGER}
    </if>
    <if test="playType != null" >
      AND PLAY_TYPE = #{playType,jdbcType=INTEGER}
    </if>
    <if test="isBingo != null" >
      AND IS_BINGO = #{isBingo,jdbcType=INTEGER}
    </if>
    <if test="status != null" >
      AND `STATUS` = #{status,jdbcType=INTEGER}
    </if>
    <if test="startTerm!=null and endTerm !=null">
      AND TERM BETWEEN #{startTerm} and #{endTerm}
    </if>
    <if test="startTerm!=null and endTerm ==null">
      AND TERM <![CDATA[>=]]>#{startTerm}
    </if>
    <if test="startTerm==null and endTerm !=null">
      AND TERM <![CDATA[<=]]>#{endTerm}
    </if>
    <if test="createDateTimeStart!=null and createDateTimeEnd !=null">
      AND CREATE_DATE_TIME BETWEEN #{createDateTimeStart} and #{createDateTimeEnd}
    </if>
    <if test="createDateTimeStart!=null and createDateTimeEnd ==null">
      AND CREATE_DATE_TIME <![CDATA[>=]]>#{createDateTimeStart}
    </if>
    <if test="createDateTimeStart==null and createDateTimeEnd !=null">
      AND CREATE_DATE_TIME <![CDATA[<=]]>#{createDateTimeEnd}
    </if>
    <if test="printDateTimeStart!=null and printDateTimeEnd !=null">
      AND PRINT_DATE_TIME BETWEEN #{printDateTimeStart} and #{printDateTimeEnd}
    </if>
    <if test="printDateTimeStart!=null and printDateTimeEnd ==null">
      AND PRINT_DATE_TIME <![CDATA[>=]]>#{printDateTimeStart}
    </if>
    <if test="printDateTimeStart==null and printDateTimeEnd !=null">
      AND PRINT_DATE_TIME <![CDATA[<=]]>#{printDateTimeEnd}
    </if>
    <if test="sendTicketDateTimeStart!=null and sendTicketDateTimeEnd !=null">
      AND SEND_DATE_TIME BETWEEN #{sendTicketDateTimeStart} and #{sendTicketDateTimeEnd}
    </if>
    <if test="sendTicketDateTimeStart!=null and sendTicketDateTimeEnd ==null">
      AND SEND_DATE_TIME <![CDATA[>=]]>#{sendTicketDateTimeStart}
    </if>
    <if test="sendTicketDateTimeStart==null and sendTicketDateTimeEnd !=null">
      AND SEND_DATE_TIME <![CDATA[<=]]>#{sendTicketDateTimeEnd}
    </if>
  </select>

    <select id="getByCopyPlanNo" resultType="com.qiyun.model2.TicketFindNew2">
      select * from ticket_find_new where copy_plan_no = #{0}
    </select>
    <update id="updateTicketByPlanBack">
    update ticket
    set status = 5
    where plan_no = #{0}
    and status != 4
  </update>

    <update id="updateForSongPiaoSuccess"  >
        update ticket
        set status = 3,
        send_date_time = NOW()
        where plan_no = #{0}
        and status != 4
    </update>
    <update id="updateForSongPiaoFail"  >
        update ticket
        set status = 5,
        send_date_time = NOW()
        where plan_no = #{0}
        and status != 4
    </update>
    <update id="updateTicketStatusForSongPiao"  >
       UPDATE ticket
        SET `STATUS` = #{1},
         send_date_time = NOW()
        WHERE
            id = (
                SELECT
                    ticket_id
                FROM
                    plan_ticket_mapping
                WHERE
                    order_id = #{0}
            )
        AND STATUS != 4
    </update>
    <select id="getCount" resultType="java.lang.Integer">
        SELECT COUNT(*) from ticket
    </select>
</mapper>