<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qiyun.mapper2.TicketApparatusMapper" >
  <resultMap id="BaseResultMap" type="com.qiyun.model2.TicketApparatus" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="able_balance" property="ableBalance" jdbcType="DECIMAL" />
    <result column="heap_add_balance" property="heapAddBalance" jdbcType="DECIMAL" />
    <result column="bonus" property="bonus" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, able_balance, heap_add_balance, bonus, status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qiyun.model2.TicketApparatusQuery" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ticket_apparatus
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ticket_apparatus
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ticket_apparatus
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.qiyun.model2.TicketApparatusQuery" >
    delete from ticket_apparatus
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qiyun.model2.TicketApparatus" >
    insert into ticket_apparatus (id, able_balance, heap_add_balance, 
      bonus, status)
    values (#{id,jdbcType=VARCHAR}, #{ableBalance,jdbcType=DECIMAL}, #{heapAddBalance,jdbcType=DECIMAL}, 
      #{bonus,jdbcType=DECIMAL}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qiyun.model2.TicketApparatus" >
    insert into ticket_apparatus
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ableBalance != null" >
        able_balance,
      </if>
      <if test="heapAddBalance != null" >
        heap_add_balance,
      </if>
      <if test="bonus != null" >
        bonus,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="ableBalance != null" >
        #{ableBalance,jdbcType=DECIMAL},
      </if>
      <if test="heapAddBalance != null" >
        #{heapAddBalance,jdbcType=DECIMAL},
      </if>
      <if test="bonus != null" >
        #{bonus,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qiyun.model2.TicketApparatusQuery" resultType="java.lang.Integer" >
    select count(*) from ticket_apparatus
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ticket_apparatus
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.ableBalance != null" >
        able_balance = #{record.ableBalance,jdbcType=DECIMAL},
      </if>
      <if test="record.heapAddBalance != null" >
        heap_add_balance = #{record.heapAddBalance,jdbcType=DECIMAL},
      </if>
      <if test="record.bonus != null" >
        bonus = #{record.bonus,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ticket_apparatus
    set id = #{record.id,jdbcType=VARCHAR},
      able_balance = #{record.ableBalance,jdbcType=DECIMAL},
      heap_add_balance = #{record.heapAddBalance,jdbcType=DECIMAL},
      bonus = #{record.bonus,jdbcType=DECIMAL},
      status = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qiyun.model2.TicketApparatus" >
    update ticket_apparatus
    <set >
      <if test="ableBalance != null" >
        able_balance = #{ableBalance,jdbcType=DECIMAL},
      </if>
      <if test="heapAddBalance != null" >
        heap_add_balance = #{heapAddBalance,jdbcType=DECIMAL},
      </if>
      <if test="bonus != null" >
        bonus = #{bonus,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qiyun.model2.TicketApparatus" >
    update ticket_apparatus
    set able_balance = #{ableBalance,jdbcType=DECIMAL},
      heap_add_balance = #{heapAddBalance,jdbcType=DECIMAL},
      bonus = #{bonus,jdbcType=DECIMAL},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>