<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qiyun.mapper2.FootballGameNameMapper" >
  <resultMap id="BaseResultMap" type="com.qiyun.model2.FootballGameName" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="STANDARD_NAME" property="standardName" jdbcType="VARCHAR" />
    <result column="SHORT_NAME" property="shortName" jdbcType="VARCHAR" />
    <result column="GAME_COLOR" property="gameColor" jdbcType="VARCHAR" />
    <result column="JC_NAME" property="jcName" jdbcType="VARCHAR" />
    <result column="DC_NAME" property="dcName" jdbcType="VARCHAR" />
    <result column="MARK" property="mark" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.qiyun.model2.FootballGameName" extends="BaseResultMap" >
    <result column="ICON" property="icon" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, STANDARD_NAME, SHORT_NAME, GAME_COLOR, JC_NAME, DC_NAME, MARK
  </sql>
  <sql id="Blob_Column_List" >
    ICON
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.qiyun.model2.FootballGameNameExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from football_game_name
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qiyun.model2.FootballGameNameExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from football_game_name
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from football_game_name
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from football_game_name
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qiyun.model2.FootballGameName" >
    insert into football_game_name (id, STANDARD_NAME, SHORT_NAME, 
      GAME_COLOR, JC_NAME, DC_NAME, 
      MARK, ICON)
    values (#{id,jdbcType=INTEGER}, #{standardName,jdbcType=VARCHAR}, #{shortName,jdbcType=VARCHAR}, 
      #{gameColor,jdbcType=VARCHAR}, #{jcName,jdbcType=VARCHAR}, #{dcName,jdbcType=VARCHAR}, 
      #{mark,jdbcType=VARCHAR}, #{icon,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qiyun.model2.FootballGameName" >
    insert into football_game_name
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="standardName != null" >
        STANDARD_NAME,
      </if>
      <if test="shortName != null" >
        SHORT_NAME,
      </if>
      <if test="gameColor != null" >
        GAME_COLOR,
      </if>
      <if test="jcName != null" >
        JC_NAME,
      </if>
      <if test="dcName != null" >
        DC_NAME,
      </if>
      <if test="mark != null" >
        MARK,
      </if>
      <if test="icon != null" >
        ICON,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="standardName != null" >
        #{standardName,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null" >
        #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="gameColor != null" >
        #{gameColor,jdbcType=VARCHAR},
      </if>
      <if test="jcName != null" >
        #{jcName,jdbcType=VARCHAR},
      </if>
      <if test="dcName != null" >
        #{dcName,jdbcType=VARCHAR},
      </if>
      <if test="mark != null" >
        #{mark,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qiyun.model2.FootballGameName" >
    update football_game_name
    <set >
      <if test="standardName != null" >
        STANDARD_NAME = #{standardName,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null" >
        SHORT_NAME = #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="gameColor != null" >
        GAME_COLOR = #{gameColor,jdbcType=VARCHAR},
      </if>
      <if test="jcName != null" >
        JC_NAME = #{jcName,jdbcType=VARCHAR},
      </if>
      <if test="dcName != null" >
        DC_NAME = #{dcName,jdbcType=VARCHAR},
      </if>
      <if test="mark != null" >
        MARK = #{mark,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        ICON = #{icon,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.qiyun.model2.FootballGameName" >
    update football_game_name
    set STANDARD_NAME = #{standardName,jdbcType=VARCHAR},
      SHORT_NAME = #{shortName,jdbcType=VARCHAR},
      GAME_COLOR = #{gameColor,jdbcType=VARCHAR},
      JC_NAME = #{jcName,jdbcType=VARCHAR},
      DC_NAME = #{dcName,jdbcType=VARCHAR},
      MARK = #{mark,jdbcType=VARCHAR},
      ICON = #{icon,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qiyun.model2.FootballGameName" >
    update football_game_name
    set STANDARD_NAME = #{standardName,jdbcType=VARCHAR},
      SHORT_NAME = #{shortName,jdbcType=VARCHAR},
      GAME_COLOR = #{gameColor,jdbcType=VARCHAR},
      JC_NAME = #{jcName,jdbcType=VARCHAR},
      DC_NAME = #{dcName,jdbcType=VARCHAR},
      MARK = #{mark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="footballGame" type="com.qiyun.model.FootballGame" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="STANDARD_NAME" property="standardName" jdbcType="VARCHAR" />
    <result column="SHORT_NAME" property="shortName" jdbcType="VARCHAR" />
    <result column="GAME_COLOR" property="gameColor" jdbcType="VARCHAR" />
    <result column="JC_NAME" property="jc" jdbcType="VARCHAR" />
    <result column="DC_NAME" property="dc" jdbcType="VARCHAR" />
    <result column="MARK" property="mark" jdbcType="VARCHAR" />
    <result column="ICON" property="icon" jdbcType="LONGVARCHAR" />
  </resultMap>
  <select id="findByStandardName" resultMap="footballGame">
    select
      *
    from football_game_name
    where STANDARD_NAME = #{standardName,jdbcType=VARCHAR}
  </select>
</mapper>