<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qiyun.mapper2.SportteryBasketballFcaward2Mapper" >
  <resultMap id="BaseResultMap" type="com.qiyun.model2.SportteryBasketballFcaward2" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="matchId" property="matchid" jdbcType="INTEGER" />
    <result column="intTime" property="inttime" jdbcType="INTEGER" />
    <result column="lineId" property="lineid" jdbcType="INTEGER" />
    <result column="passMode" property="passmode" jdbcType="INTEGER" />
    <result column="HWawardOf1to5" property="hwawardof1to5" jdbcType="DOUBLE" />
    <result column="HWawardOf6TO10" property="hwawardof6to10" jdbcType="DOUBLE" />
    <result column="HWawardOf11TO15" property="hwawardof11to15" jdbcType="DOUBLE" />
    <result column="HWawardOf16TO20" property="hwawardof16to20" jdbcType="DOUBLE" />
    <result column="HWawardOf21TO25" property="hwawardof21to25" jdbcType="DOUBLE" />
    <result column="HWawardOf26" property="hwawardof26" jdbcType="DOUBLE" />
    <result column="GWawardOf1TO5" property="gwawardof1to5" jdbcType="DOUBLE" />
    <result column="GWawardOf6TO10" property="gwawardof6to10" jdbcType="DOUBLE" />
    <result column="GWawardOf11TO15" property="gwawardof11to15" jdbcType="DOUBLE" />
    <result column="GWawardOf16TO20" property="gwawardof16to20" jdbcType="DOUBLE" />
    <result column="GWawardOf21TO25" property="gwawardof21to25" jdbcType="DOUBLE" />
    <result column="GWawardOf26" property="gwawardof26" jdbcType="DOUBLE" />
    <result column="lastUpdateTime" property="lastupdatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, matchId, intTime, lineId, passMode, HWawardOf1to5, HWawardOf6TO10, HWawardOf11TO15, 
    HWawardOf16TO20, HWawardOf21TO25, HWawardOf26, GWawardOf1TO5, GWawardOf6TO10, GWawardOf11TO15, 
    GWawardOf16TO20, GWawardOf21TO25, GWawardOf26, lastUpdateTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qiyun.model2.SportteryBasketballFcaward2Example" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from sporttery_basketball_fcaward
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sporttery_basketball_fcaward
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sporttery_basketball_fcaward
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qiyun.model2.SportteryBasketballFcaward2"
          useGeneratedKeys="true" keyProperty="id">
    insert into sporttery_basketball_fcaward (id, matchId, intTime, 
      lineId, passMode, HWawardOf1to5, 
      HWawardOf6TO10, HWawardOf11TO15, HWawardOf16TO20, 
      HWawardOf21TO25, HWawardOf26, GWawardOf1TO5, 
      GWawardOf6TO10, GWawardOf11TO15, GWawardOf16TO20, 
      GWawardOf21TO25, GWawardOf26, lastUpdateTime
      )
    values (#{id,jdbcType=INTEGER}, #{matchid,jdbcType=INTEGER}, #{inttime,jdbcType=INTEGER}, 
      #{lineid,jdbcType=INTEGER}, #{passmode,jdbcType=INTEGER}, #{hwawardof1to5,jdbcType=DOUBLE}, 
      #{hwawardof6to10,jdbcType=DOUBLE}, #{hwawardof11to15,jdbcType=DOUBLE}, #{hwawardof16to20,jdbcType=DOUBLE}, 
      #{hwawardof21to25,jdbcType=DOUBLE}, #{hwawardof26,jdbcType=DOUBLE}, #{gwawardof1to5,jdbcType=DOUBLE}, 
      #{gwawardof6to10,jdbcType=DOUBLE}, #{gwawardof11to15,jdbcType=DOUBLE}, #{gwawardof16to20,jdbcType=DOUBLE}, 
      #{gwawardof21to25,jdbcType=DOUBLE}, #{gwawardof26,jdbcType=DOUBLE}, #{lastupdatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qiyun.model2.SportteryBasketballFcaward2"
          useGeneratedKeys="true" keyProperty="id">
    insert into sporttery_basketball_fcaward
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="matchid != null" >
        matchId,
      </if>
      <if test="inttime != null" >
        intTime,
      </if>
      <if test="lineid != null" >
        lineId,
      </if>
      <if test="passmode != null" >
        passMode,
      </if>
      <if test="hwawardof1to5 != null" >
        HWawardOf1to5,
      </if>
      <if test="hwawardof6to10 != null" >
        HWawardOf6TO10,
      </if>
      <if test="hwawardof11to15 != null" >
        HWawardOf11TO15,
      </if>
      <if test="hwawardof16to20 != null" >
        HWawardOf16TO20,
      </if>
      <if test="hwawardof21to25 != null" >
        HWawardOf21TO25,
      </if>
      <if test="hwawardof26 != null" >
        HWawardOf26,
      </if>
      <if test="gwawardof1to5 != null" >
        GWawardOf1TO5,
      </if>
      <if test="gwawardof6to10 != null" >
        GWawardOf6TO10,
      </if>
      <if test="gwawardof11to15 != null" >
        GWawardOf11TO15,
      </if>
      <if test="gwawardof16to20 != null" >
        GWawardOf16TO20,
      </if>
      <if test="gwawardof21to25 != null" >
        GWawardOf21TO25,
      </if>
      <if test="gwawardof26 != null" >
        GWawardOf26,
      </if>
      <if test="lastupdatetime != null" >
        lastUpdateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="matchid != null" >
        #{matchid,jdbcType=INTEGER},
      </if>
      <if test="inttime != null" >
        #{inttime,jdbcType=INTEGER},
      </if>
      <if test="lineid != null" >
        #{lineid,jdbcType=INTEGER},
      </if>
      <if test="passmode != null" >
        #{passmode,jdbcType=INTEGER},
      </if>
      <if test="hwawardof1to5 != null" >
        #{hwawardof1to5,jdbcType=DOUBLE},
      </if>
      <if test="hwawardof6to10 != null" >
        #{hwawardof6to10,jdbcType=DOUBLE},
      </if>
      <if test="hwawardof11to15 != null" >
        #{hwawardof11to15,jdbcType=DOUBLE},
      </if>
      <if test="hwawardof16to20 != null" >
        #{hwawardof16to20,jdbcType=DOUBLE},
      </if>
      <if test="hwawardof21to25 != null" >
        #{hwawardof21to25,jdbcType=DOUBLE},
      </if>
      <if test="hwawardof26 != null" >
        #{hwawardof26,jdbcType=DOUBLE},
      </if>
      <if test="gwawardof1to5 != null" >
        #{gwawardof1to5,jdbcType=DOUBLE},
      </if>
      <if test="gwawardof6to10 != null" >
        #{gwawardof6to10,jdbcType=DOUBLE},
      </if>
      <if test="gwawardof11to15 != null" >
        #{gwawardof11to15,jdbcType=DOUBLE},
      </if>
      <if test="gwawardof16to20 != null" >
        #{gwawardof16to20,jdbcType=DOUBLE},
      </if>
      <if test="gwawardof21to25 != null" >
        #{gwawardof21to25,jdbcType=DOUBLE},
      </if>
      <if test="gwawardof26 != null" >
        #{gwawardof26,jdbcType=DOUBLE},
      </if>
      <if test="lastupdatetime != null" >
        #{lastupdatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qiyun.model2.SportteryBasketballFcaward2" >
    update sporttery_basketball_fcaward
    <set >
      <if test="matchid != null" >
        matchId = #{matchid,jdbcType=INTEGER},
      </if>
      <if test="inttime != null" >
        intTime = #{inttime,jdbcType=INTEGER},
      </if>
      <if test="lineid != null" >
        lineId = #{lineid,jdbcType=INTEGER},
      </if>
      <if test="passmode != null" >
        passMode = #{passmode,jdbcType=INTEGER},
      </if>
      <if test="hwawardof1to5 != null" >
        HWawardOf1to5 = #{hwawardof1to5,jdbcType=DOUBLE},
      </if>
      <if test="hwawardof6to10 != null" >
        HWawardOf6TO10 = #{hwawardof6to10,jdbcType=DOUBLE},
      </if>
      <if test="hwawardof11to15 != null" >
        HWawardOf11TO15 = #{hwawardof11to15,jdbcType=DOUBLE},
      </if>
      <if test="hwawardof16to20 != null" >
        HWawardOf16TO20 = #{hwawardof16to20,jdbcType=DOUBLE},
      </if>
      <if test="hwawardof21to25 != null" >
        HWawardOf21TO25 = #{hwawardof21to25,jdbcType=DOUBLE},
      </if>
      <if test="hwawardof26 != null" >
        HWawardOf26 = #{hwawardof26,jdbcType=DOUBLE},
      </if>
      <if test="gwawardof1to5 != null" >
        GWawardOf1TO5 = #{gwawardof1to5,jdbcType=DOUBLE},
      </if>
      <if test="gwawardof6to10 != null" >
        GWawardOf6TO10 = #{gwawardof6to10,jdbcType=DOUBLE},
      </if>
      <if test="gwawardof11to15 != null" >
        GWawardOf11TO15 = #{gwawardof11to15,jdbcType=DOUBLE},
      </if>
      <if test="gwawardof16to20 != null" >
        GWawardOf16TO20 = #{gwawardof16to20,jdbcType=DOUBLE},
      </if>
      <if test="gwawardof21to25 != null" >
        GWawardOf21TO25 = #{gwawardof21to25,jdbcType=DOUBLE},
      </if>
      <if test="gwawardof26 != null" >
        GWawardOf26 = #{gwawardof26,jdbcType=DOUBLE},
      </if>
      <if test="lastupdatetime != null" >
        lastUpdateTime = #{lastupdatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qiyun.model2.SportteryBasketballFcaward2" >
    update sporttery_basketball_fcaward
    set matchId = #{matchid,jdbcType=INTEGER},
      intTime = #{inttime,jdbcType=INTEGER},
      lineId = #{lineid,jdbcType=INTEGER},
      passMode = #{passmode,jdbcType=INTEGER},
      HWawardOf1to5 = #{hwawardof1to5,jdbcType=DOUBLE},
      HWawardOf6TO10 = #{hwawardof6to10,jdbcType=DOUBLE},
      HWawardOf11TO15 = #{hwawardof11to15,jdbcType=DOUBLE},
      HWawardOf16TO20 = #{hwawardof16to20,jdbcType=DOUBLE},
      HWawardOf21TO25 = #{hwawardof21to25,jdbcType=DOUBLE},
      HWawardOf26 = #{hwawardof26,jdbcType=DOUBLE},
      GWawardOf1TO5 = #{gwawardof1to5,jdbcType=DOUBLE},
      GWawardOf6TO10 = #{gwawardof6to10,jdbcType=DOUBLE},
      GWawardOf11TO15 = #{gwawardof11to15,jdbcType=DOUBLE},
      GWawardOf16TO20 = #{gwawardof16to20,jdbcType=DOUBLE},
      GWawardOf21TO25 = #{gwawardof21to25,jdbcType=DOUBLE},
      GWawardOf26 = #{gwawardof26,jdbcType=DOUBLE},
      lastUpdateTime = #{lastupdatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="SFCAward" type="com.qiyun.model.basketball.SFCAward">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="matchId" property="matchId" jdbcType="INTEGER" />
    <result column="intTime" property="intTime" jdbcType="INTEGER" />
    <result column="lineId" property="lineId" jdbcType="INTEGER" />
    <result column="passMode" property="passMode" jdbcType="INTEGER" />
    <result column="HWawardOf1to5" property="HWawardOf1TO5" jdbcType="DOUBLE" />
    <result column="HWawardOf6TO10" property="HWawardOf6TO10" jdbcType="DOUBLE" />
    <result column="HWawardOf11TO15" property="HWawardOf11TO15" jdbcType="DOUBLE" />
    <result column="HWawardOf16TO20" property="HWawardOf16TO20" jdbcType="DOUBLE" />
    <result column="HWawardOf21TO25" property="HWawardOf21TO25" jdbcType="DOUBLE" />
    <result column="HWawardOf26" property="HWawardOf26" jdbcType="DOUBLE" />
    <result column="GWawardOf1TO5" property="GWawardOf1TO5" jdbcType="DOUBLE" />
    <result column="GWawardOf6TO10" property="GWawardOf6TO10" jdbcType="DOUBLE" />
    <result column="GWawardOf11TO15" property="GWawardOf11TO15" jdbcType="DOUBLE" />
    <result column="GWawardOf16TO20" property="GWawardOf16TO20" jdbcType="DOUBLE" />
    <result column="GWawardOf21TO25" property="GWawardOf21TO25" jdbcType="DOUBLE" />
    <result column="GWawardOf26" property="GWawardOf26" jdbcType="DOUBLE" />
    <result column="lastUpdateTime" property="lastUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <select id="selectByIntTime" resultMap="SFCAward">
    SELECT
      *
    FROM
      sporttery_basketball_fcaward
    WHERE
      intTime = #{intTime,jdbcType=INTEGER}
  </select>
  <select id="selectByIntTimes" resultMap="SFCAward">
    SELECT
      *
    FROM
      sporttery_basketball_fcaward
    WHERE
      intTime IN
      <foreach collection="intTimes" item="intTime" index="index"
               open="(" close=")" separator=",">
        #{intTime}
      </foreach>
  </select>
  <select id="selectByIntTimeAndLineId" resultMap="SFCAward">
    SELECT
      *
    FROM
      sporttery_basketball_fcaward
    WHERE
      intTime = #{intTime,jdbcType=INTEGER}
      AND lineId = #{lineId,jdbcType=INTEGER}
      AND passMode = #{pm,jdbcType=INTEGER}
      AND playType = #{playType,jdbcType=INTEGER}
  </select>
</mapper>